# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor / OS
.vscode/
.idea/
.DS_Store

# Python
__pycache__/
*.pyc